<div class="container">
  <h3>Listado de Héroes</h3>

  <div class="d-flex; flex-direction-column; align-items-flex-end">
    <h3 *ngIf="deleteHero; else nothingWasDelete">
      Héroe borrado <small class="text-danger">{{ deleteHero }}</small>
    </h3>
    <ng-template #nothingWasDelete>
      <h3>No se ha borrado nada</h3>
    </ng-template>

    <button (click)="removeLastHero()" class="btn btn-danger">
      Borrar ultimo héroe
    </button>
  </div>

  <ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}</li>
  </ul>
</div>
